
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">THÊM MỚI SẢN PHẨM</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Trang chủ</li>
                <li class="breadcrumb-item active">Sản phẩm</li>
                <li class="breadcrumb-item active">Danh sách sản phẩm</li>
                <li class="breadcrumb-item active">Thêm mới</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <div class="card mb-3">

            <div class="card-header">
                <span class="pull-right">
                    <button class="btn btn-primary btn-sm" onclick="AddProduct()">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Thêm ngay
                    </button>
                    <button class="btn btn-danger btn-sm" id="btnAddImageProducts">
                        <i class="fa fa-caret-square-o-down bigfonts" aria-hidden="true"></i> Chọn ảnh
                    </button>
                    
                </span>
            </div>
            <!-- end card-header -->
            <!-- <div class="card-bodycard-body"> -->

            <div class="container-fluid mt-3 card-body">
                <form id="FormAdd_Product">
                    <div class="row ">

                        <div class="card col-md-4 pr-1">
                            <div class="card-header card_header">
                                HÌNH ẢNH CỦA SẢN PHẨM
                            </div>
                            <div class="card-body">
                                @*Hình ảnh của sản phẩm*@
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="w-100 h-25 pl-2 pr-2" id="ImageAddProduct">
                                            <img src="/Uploads/images/product-04.jpg" style="width: 80%; height: 100%; padding-left:17%" title="Hình ảnh  sản phẩm" class="AddImageProduct">
                                        </div>
                                    </div>
                                </div>
                                @*mô tả thông tin của sản phẩm theo hình ảnh*@
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="hidden" name="image" value="" id="txtAddImageProduct" />
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <input class="form-control" name="AltImage" type="text" placeholder="Mô tả hình ảnh" id="txtAddAltImageProduct" />
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>


                        <div class="card col-md-5 pr-1">
                            <div class="card-header card_header">
                                THÔNG TIN CỦA SẢN PHẨM
                            </div>
                            <div class="card-body">

                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-12 col-xl-6 col-sm-12 col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <input class="form-control" name="Name" type="text" placeholder="Tên của sản phâm" id="txtAddNameProduct" title="Tên của sản phẩm" />
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6 col-sm-12 col-md-12 col-lg-6">
                                            <div class="form-group">
                                                <input class="form-control" name="Description" type="text" placeholder="Mô tả ngắn về sản phẩm" id="txtAddDescriptionProduct" title="Tên của loại sản phẩm" />
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="row">
                                                <div class="col-12 col-xl-6 col-sm-12 col-md-12 col-lg-6">
                                                    @*Phân loại sản phẩm*@
                                                    <div class="form-group">
                                                        <select name="CategoryID" class="form-control txtSeachGroupProductCategory" id="txtAddCategoryIDProduct" title="tên nhóm của loại sản phẩm">
                                                            <option value="">loại sản phẩm -</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-xl-6 col-sm-12 col-md-12 col-lg-6">
                                                    @*Giá bán của sản phẩm*@
                                                    <div class="form-group">
                                                        <input class="form-control" name="PromotionPrice" value="" type="text" placeholder="Giá bán" id="txtAddPromotionPriceProduct" title="Giá bán của sản phẩm" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="row">
                                                @*số lượng sản phẩm*@
                                                <div class="col-12 col-xl-6 col-sm-12 col-md-12 col-lg-6">
                                                    <div class="form-group">
                                                        <input class="form-control" name="Quantity" type="number" placeholder="số lượng sản phẩm" id="txtAddDisplayOrderProuctCategory" title="Số lương sản phẩm" />
                                                    </div>
                                                </div>
                                                @*Hiển thị trang chủ*@
                                                <div class="col-12 col-xl-6 col-sm-12 col-md-12 col-lg-6">
                                                    <div class="form-group">
                                                        <select name="ShowOnHome" class="form-control" required id="txtAddShowOnHomeProduct" title="Có cho phép loại sản phẩm có hiển thị lên trang chủ không">
                                                            <option value="true">hiển thị lên trang chủ  </option>
                                                            <option value="false">không hiển thị lên trang chủ </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="row">
                                                @*thời gian bảo hành*@
                                                <div class="col-12 col-xl-6 col-sm-12 col-md-12 col-lg-6">
                                                    <div class="form-group">
                                                        <input class="form-control" name="Warranty" type="number" placeholder="số lượng sản phẩm" id="txtAddWarrantyProduct" title="Thời gian bào hành sản phẩm là bao nhiêu tháng" />
                                                    </div>
                                                </div>
                                                @*Phân Loại Sản phẩm theo chuyên mục *@
                                                <div class="col-12 col-xl-6 col-sm-12 col-md-12 col-lg-6">
                                                    <div class="form-group">
                                                        <select name="TopHot" class="form-control" required id="txtAddTopHotProduct" title="Phân loại sản phẩm theo chuyên mục">
                                                            <option value="1">Sản phẩm mới  </option>
                                                            <option value="2">Sản phẩm bán chạy </option>
                                                            <option value="3">Sản phẩm giảm giá </option>
                                                            <option value="4">Cây theo phong thủy </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="card col-md-3 pl-1">
                            <div class="card-header card_header">
                                THÔNG TIN SEO CỦA SẢN PHẨM 
                            </div>
                            <div class="card-body">
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" name="MetaTitle" type="text" placeholder="Meta Title" id="txtAddMetaTitleProduct" />
                                    </div>
                                </div>
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" name="SeoTitle" type="text" placeholder="Seo Title" id="txtAddSeoTitleProduct" />
                                    </div>
                                </div>
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" name="MetaKeywords" type="text" placeholder="Meta KeyWord" id="txtAddMetaKeywordsProduct" />
                                    </div>
                                </div>
                                <div class="col-12 col-xl-12 col-sm-12 col-md-12 col-lg-12">

                                    <div class="form-group">
                                        <input class="form-control" name="MetaDescriptions" type="text" placeholder="Meta Description" id="txtAddMetaDescriptionsProduct" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="card col-md-12 pr-1">
                            <div class="card-header card_header">
                                B
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="DescriptionIdDetail" id="txtAddDescriptionIdDetailProduct" />
                                <input id="txtAddDescriptionProductCkeditor" class="ckeditor" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
        <!-- end card-body -->

    </div>
    <!-- end card -->

</div>


@*<div>
        <input id="txtimage " class="form-control pt-4" />

    </div>*@




<script src="~/Assets/Admin/js/jquery-3.3.1.js"></script>
<script>


    $(document).ready(function () {

        CKEDITOR.replace("txtAddDescriptionProductCkeditor", { height: 1000, });
        $('#btnAddImageProducts').click(function () {
            var fider = new CKFinder();
            fider.selectActionFunction = function (fileUrl) {
                $(".AddImageProduct ").remove();
                $("#ImageAddProduct").append("<img src='" + fileUrl + "' style='width: 80%; height: 100%; padding-left:17% ' class='AddImageProduct' title='Hình ảnh loại sản phẩm'/>")
                $('#txtAddImageProduct').val(fileUrl);
            }
            fider.popup();
        })
    });
</script>



