
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">QUẢN LÝ THÔNG TIN SẢN PHẨM</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Trang chủ</li>
                <li class="breadcrumb-item active">Sản phẩm</li>
                <li class="breadcrumb-item active">Danh sách sản phẩm</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end row -->
<div class="alert alert-success " role="alert">
    <div class="row ">
        <div class="col-12 col-xl-3 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group">
                <input class="form-control" name="NameProduct" type="text" placeholder="Tên sản phẩm" id="txtSeachNameProduct" />
            </div>
        </div>
        <div class="col-12 col-xl-3 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group">

                <select name="role_id" class="form-control" id="txtSeachProductPrice" title="giá bán của sản phẩm">
                    <option value="0">  Chọn mức giá bán   </option>
                    <option value="1">  0 đến 500 Ngàn   </option>
                    <option value="2">  500 Ngàn  đến 1 Triệu  </option>
                    <option value="3">  1 Triệu  đến 1.5 Triệu </option>
                    <option value="4">  1.5 Triệu  đến 2 Triệu </option>
                    <option value="5">  2 Triệu  đến 2.5 Triệu </option>
                    <option value="6">  2.5 Triệu  đến 3 Triệu </option>
                    <option value="7">  3 Triệu  đến 3.5 Triệu </option>
                    <option value="8">  3.5 Triệu  đến 4 Triệu </option>
                    <option value="9">  4 Triệu  đến 4.5 Triệu </option>
                    <option value="10">  4.5 Triệu  đến 5 Triệu </option>
                    <option value="11">  5 Triệu  đến 5.5 Triệu </option>
                    <option value="12">  5.5 Triệu  đến 6 Triệu </option>
                    <option value="13">  6 Triệu  đến 6.5 Triệu </option>
                    <option value="14">  6.5 Triệu  đến 7 Triệu </option>
                    <option value="15">  7 Triệu  đến 7.5 Triệu </option>
                    <option value="16">  7.5 Triệu  đến 8 Triệu </option>
                    <option value="17">  8 Triệu  đến 8.5 Triệu </option>
                    <option value="18">  8.5 Triệu  đến 9 Triệu </option>
                    <option value="19">  9 Triệu  đến 9.5 Triệu </option>
                    <option value="20">  9.5 Triệu  đến 10 Triệu </option>
                    <option value="21">  Trên 10 Triệu</option>
                </select>
            </div>

        </div>
        <div class="col-12 col-xl-3 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group">

                <select name="role_id" class="form-control" id="txtSeachQuantityProduct" title="Số lượng sản phẩm đang còn trong kho">
                    <option value="0">Chọn số lượng sản phẩm </option>
                    <option value="1">  00 đến 10 </option>
                    <option value="2">  10 đến 20 </option>
                    <option value="3">  20 đến 30 </option>
                    <option value="4">  30 đến 40 </option>
                    <option value="5">  40 đến 50 </option>
                    <option value="6">  50 đến 60 </option>
                    <option value="7">  60 đến 70 </option>
                    <option value="8">  70 đến 80 </option>
                    <option value="9">  80 đến 90 </option>
                    <option value="10">  90 đến 100 </option>
                    <option value="11">  Trên 100 </option>

                </select>
            </div>
        </div>
        <div class="col-12 col-xl-3 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group">

                <select name="role_id" class="form-control txtSeachGroupProductCategory" id="txtSeachGroupProduct" title="Tên nhóm Sản Phẩm">
                    <option value="0">Chọn doanh mục sản phẩm </option>
                </select>
            </div>

        </div>
    </div>
    <div class="row">

        <button class="btn btn-primary offset-md-5 offset-sm-0 offset-2  " onclick="SeachProduct()">
            <i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm sản phẩm
        </button>

    </div>

</div>


<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

        <div class="card mb-3">

            <div class="card-header">
                <span class="pull-right">
                    <button class="btn btn-primary btn-sm" onclick="window.location='/Product/Create'">
                        <i class="fa fa-Product-plus" aria-hidden="true"></i> Thêm mới
                    </button>
                    <button class="btn btn-primary btn-sm" onclick="window.location='/ProductCategory/Index'">
                        <i class="fa fa-caret-square-o-down bigfonts" aria-hidden="true"></i> Nhóm ND
                    </button>
                </span>
                <h3><i class="fa fa-Product"></i> Số Lượng</h3>
            </div>
            <!-- end card-header -->
            <!-- <div class="card-bodycard-body"> -->


            <div class="table-responsive" id="Table_Product">
                @{
                    Html.RenderAction("Seach", new { Page = 1, name = "", price = 0, quantity = 0, categoryId = 0 });
                }
            </div>

        </div>
        <!-- end card-body -->

    </div>
    <!-- end card -->

</div>






<div class="modal" tabindex="-1" role="dialog" id="Delete_Product">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">XÓA SẢN PHẨM</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseDeleteProduct()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn xóa sản phẩm không</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="DelProduct()">Xóa</button>
            </div>
        </div>
    </div>
</div>



<script>
    function Add_ProductCategoryShow() {
        $("#Modal_AddProduct").show();
    }

    function Add_ProductCategoryHiden() {
        $("#Modal_AddProduct").hide();
    }

    function Edit_ProductCategoryShow() {
        $("#Modal_EditProduct").show();
    }

    function Edit_ProductCategoryHiden() {
        $("#Modal_EditProdcutCategory").hide();
    }

    function CloseDeleteProductCategory() {
        $("#Delete_ProductCategory").hide();
    }


    $(document).ready(function () {

        $('#btnAddImageProductCategory').click(function () {
            var fider = new CKFinder();
            fider.selectActionFunction = function (fileUrl) {
                $("#ImageAddProductCategory").append("<img src='" + fileUrl + "' style='width: 100%; height: 100%; ' />")
                $('#txtAddImageProductCategory').val(fileUrl);
            }
            fider.popup();
        })
    });
</script>
