@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xl-12">
        <div class="breadcrumb-holder">
            <h1 class="main-title float-left">Quản lý người dùng</h1>
            <ol class="breadcrumb float-right">
                <li class="breadcrumb-item">Trang chủ</li>
                <li class="breadcrumb-item active">Người dùng</li>
                <li class="breadcrumb-item active">Danh sách</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- end row -->
<div class="alert alert-success " role="alert">
    <div class="row ">
        <div class="col-12 col-xl-4 col-sm-12 col-md-4 col-lg-4">
            <div class="form-group">
                <input class="form-control" name="NameFeedBack" type="text" placeholder="Họ Tên" id="txtSeachNameFeedBack" />
            </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-12 col-md-4 col-lg-4">
            <div class="form-group">
                <input class="form-control" name="PhoneFeedBack" type="text" placeholder="Điện Thoại" id="txtSeachPhone" />
            </div>
        </div>
        <div class="col-12 col-xl-4 col-sm-12 col-md-4 col-lg-4">
            <div class="form-group">
                <input class="form-control" name="AddrFeedBack" type="text" placeholder="Địa chỉ" id="txtSeachAddr" />
            </div>
        </div>
    </div>
    <div class="row">

        <button class="btn btn-primary offset-5" onclick="SeachFeedback()">
            <i class="fa fa-search" aria-hidden="true"></i> Tìm kiếm người dùng
        </button>

    </div>

</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3">

            <div class="card-header">
                <span class="pull-right">
                    <button class="btn btn-primary btn-sm" onclick="Datahiden()">
                        <i class="fa fa-FeedBack-plus" aria-hidden="true"></i> Chưa xem
                    </button>
                </span>
                <h3><i class="fa fa-user"></i> Số lượng</h3>

            </div>
            <!-- end card-header -->
            <!-- <div class="card-bodycard-body"> -->

            <div class="table-responsive" id="Table_feedback">
                @{
                    Html.RenderAction("Seach", new { Page = 1, name = "", address = "", phone = "" });
                }
            </div>


        </div>
        <!-- end card-body -->

    </div>
    <!-- end card -->
</div>

@*//div check feedback khách hàng*@
<div class="modal" tabindex="-1" role="dialog" id="Modal_CheckFeedBack">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="Form_EditFeedBack">

                <input class="form-control" name="ID" type="hidden" required id="txtFeedBackID" />
                <div class="modal-header">
                    <h5 class="modal-title">Nội dung chi tiết</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="ExitCheck()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Họ tên</label>
                                <input class="form-control" name="Name" type="text" required id="txtName" readonly="false" />
                            </div>
                        </div>

                    </div>

                    @*Emaill và số điện thoại*@
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" name="Email" type="email" required id="txtEmail" readonly="false" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Điện thoại</label>
                                <input class="form-control" name="Phone" type="text" required id="txtPhone" readonly="false" />
                            </div>
                        </div>

                    </div>
                    @*Địa chỉ *@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" name="Address" type="text" required id="txtAddress" readonly="false" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Nội dung</label>
                               <textarea style="width:100%; height: 100px"   id="txtEditContent"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="CloseModalCheckFeedBack()">Thoát</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
  

    function OpenModalCheckFeedback() {
        $("#Modal_CheckFeedBack").show();
    }
    function ExitCheck() {
        $("#Modal_CheckFeedBack").hide();
    }
    function CloseModalCheckFeedBack() {
        $("#Modal_CheckFeedBack").hide();
    }
    //function ExitEditUser() {
    //    $("#Modal_EditUser").hide();
    //}
    
</script>
